{extend name='admin@public/content'}

{block name="button"}

<!--{if auth("$classuri/add")}-->
<button class='layui-btn layui-btn-sm layui-btn-primary' data-open='{:url("$classuri/add")}' data-title="发布任务">添加店铺
</button>
<!--{/if}-->
<!--{if auth("$classuri/del")}-->
<button data-update data-field='delete' data-action='{:url("$classuri/del")}'
        class='layui-btn layui-btn-sm layui-btn-primary'>批量删除
</button>
<!--{/if}-->
{/block}

{block name="content"}

<!-- 表单搜索 开始 -->
<form autocomplete="off" class="layui-form layui-form-pane form-search" action="{:request()->url()}"
      onsubmit="return false" method="get">
    <!--{if !empty($platform)}-->
    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">购物平台</label>
        <div class="layui-input-inline">
            <select name="platform" lay-search>
                <option value="">购物平台</option>
                {foreach $platform as $c=>$v}
                <!--{if !empty($Think.get.platform) and $Think.get.platform eq $v['id']}-->
                <option selected="selected" value="{$v.id}">{$v.cate_title}</option>
                <!--{else}-->
                <option value="{$v.id}">{$v.cate_title}</option>
                <!--{/if}-->
                {/foreach}
            </select>
        </div>
    </div>
    <!--{/if}-->
    <div class="layui-form-item layui-inline">
        <label class="layui-form-label"></label>
        <div class="layui-input-inline">
            <input name="store_name" value="{$Think.get.store_name}" placeholder="请输入店铺名" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">旺旺号</label>
        <div class="layui-input-inline">
            <input name="store_num" value="{$Think.get.store_num}" placeholder="请输入旺旺号" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">电话</label>
        <div class="layui-input-inline">
            <input name="tel" value="{$Think.get.tel}" placeholder="请输入电话" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">发布时间</label>
        <div class="layui-input-inline">
            <input name="create_at" id="create_at" value="{$Think.get.create_at}" placeholder="请选择发布时间"
                   class="layui-input">
        </div>
    </div>

    <div class="layui-form-item layui-inline">
        <button class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> 搜 索</button>
    </div>

</form>
<!-- 表单搜索 结束 -->

<form onsubmit="return false;" data-auto="true" method="post">
    <!--{if empty($list)}-->
    <p class="help-block text-center well">没 有 记 录 哦！</p>
    <!--{else}-->
    <input type="hidden" value="resort" name="action">
    <table class="layui-table notevent" lay-skin="line">
        <thead>
        <tr>
            <th class='list-table-sort-td'>
                序号
            </th>
            <th class="nowrap">店铺图片</th>
            <th class="nowrap">店铺名称</th>
            <th class="nowrap">店铺号</th>
            <th class="nowrap">链接</th>
            <th class="nowrap">电话</th>
            <th class="nowrap">地址</th>
            <th class="nowrap">平台</th>
            <th class="nowrap">状态</th>
            <th class="text-left">时间</th>
            <th class='text-center'></th>
        </tr>
        </thead>
        <tbody>
        {foreach $list as $key=>$vo}
        <tr>
            <td class='list-table-sort-td text-top'>
                {$vo.id}
            </td>
            <td class='list-table-sort-td text-top'>
                <img src="{$vo.store_pic}" alt="" data-tips-image>
            </td>
            <td class="text-left nowrap text-top">
                {$vo.store_name}
            </td>
            <td class="text-left nowrap text-top">
                {$vo.store_num}
            </td>
            <td class="text-left nowrap text-top">
                <a href="{$vo.url}" target="_blank">{$vo.store_name}</a>
            </td>
            <td class="text-left nowrap text-top">
                {$vo.tel}
            </td>
            <td class="text-left nowrap text-top">
                {$vo.address}<br/>{$vo.detail}
            </td>
            <td class="text-left nowrap text-top">
                {$vo.cate_title}
            </td>
            <td class="text-left nowrap text-top">
                <span {gt name='vo.status' value='1' }data-tips-text='{$vo.desc}' {/gt}>
                {switch vo.status}
                {case 1}未处理{/case}
                {case 2}审核成功{/case}
                {case 3}审核不成功{/case}
                {/switch}</span>

            </td>
            <td class='text-left nowrap text-top'>
                {$vo.create_at|default="<span class='color-desc'>从未登录</span>"|raw}
            </td>
            <td class='text-center nowrap text-top'>

                <!--{if auth("$classuri/edit")}-->
                <span class="text-explode">|</span>
                <a data-modal='{:url("$classuri/edit")}?id={$vo.id}'>编辑</a>
                <!--{/if}-->
                <!--{if auth("$classuri/del")}-->
                <span class="text-explode">|</span>
                <a data-update="{$vo.id}" data-field='delete' data-action='{:url("$classuri/del")}'>删除</a>
                <!--{/if}-->
            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>
    {if isset($page)}<p>{$page|raw}</p>{/if}
    <!--{/if}-->
</form>
<script>
    (function () {
        window.form.render();
        window.laydate.render({range: true, elem: '#create_at'});
    })();
</script>
{/block}