{extend name='admin@public/content'}

{block name="content"}
<form action="{:request()->url()}" autocomplete="off" class='form-horizontal layui-form padding-top-20' data-auto="true"
      id="ProductForm"
      method="post" onsubmit="return false;">

    <div class="form-group">
        <label class="col-sm-2 control-label">订单编号</label>
        <div class='col-sm-8'>
            <input class="layui-input" name="task_id" placeholder="请输入订单编号" required title="请输入订单编号"
                   value="{$vo.task_id|default=''}">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">投诉类型</label>
        <div class="col-sm-8">
            <select class='layui-select full-width' lay-ignore name='ty'>
                <!--{foreach $apl as $k=>$v}-->
                <!--{eq name='k' value='$vo.ty|default=0'}-->
                <option selected value='{$k}'>{$v}</option>
                <!--{else}-->
                <option value='{$k}'>{$v}</option>
                <!--{/eq}-->
                <!--{/foreach}-->
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label label-required">申诉截图</label>
        <div class='col-sm-8'>
            <table class="layui-table background-item margin-none" lay-size="sm" lay-skin="nob">
                <thead>
                <tr>
                    <td>申诉截图</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="text-top" style="width:100px">
                        <input name="pic" type="hidden" value="{$vo.pic|default=''}">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label label-required">申诉介绍</label>
        <div class='col-sm-8'>
            <textarea name="content">{$vo.content|default=''|raw}</textarea>
        </div>
    </div>
    <div class="hr-line-dashed"></div>

    <div class="col-sm-7 col-sm-offset-2">
        <div class="layui-form-item text-center">
            {if !empty($vo.id)}<input name="id" type="hidden" value="{$vo.id}">{else /}<input name="is_contact"
                                                                                              type="hidden" value="1">
            <input name="uid" type="hidden" value="{$uid|default=''}">{/if}
            <button class="layui-btn" type="submit">保存配置</button>
            <button class="layui-btn layui-btn-danger" onclick="window.history.back()" type='button'>取消编辑</button>
        </div>
    </div>

</form>

<script>
    require(['jquery', 'ckeditor', 'angular'], function () {
        window.form.render();
        window.createEditor('[name="content"]', {height: 500});
        var app = angular.module("ProductForm", []).run(callback);
        angular.bootstrap(document.getElementById(app.name), [app.name]);

        function callback($rootScope) {
            // 绑定规格列表
            $rootScope.specs = [];
            // 规格默认数据
            var specdata = JSON.parse('{$vo.list|default=[]|json_encode=###,256|raw}');
            // 单图片上传处理
            $('#ProductForm [name="pic"]').uploadOneImage();
            // 多图片上传处理

        }
    });
</script>
{/block}

{block name="style"}
<style>

    .background-item {
        padding: 15px;
        background: #efefef;
    }

    .background-item thead tr {
        background: #e0e0e0
    }

    .price-input-td {
        padding: 0 !important;
    }

    .price-input-td:before {
        margin: 4px;
        width: 35px;
        height: 22px;
        content: "金额";
        line-height: 20px;
        text-align: center;
        position: absolute;
        background: #e2e2e2;
    }

    .price-input-td input {
        height: 30px;
        padding-left: 50px;
        border: none !important;
    }
</style>
{/block}