{extend name='admin@public/content'}

{block name="button"}

<!--{if auth("$classuri/add")}-->
<button class='layui-btn layui-btn-sm layui-btn-primary' data-open='{:url("$classuri/add")}' data-title="发起申诉">发起申诉
</button>
<!--{/if}-->
<!--{if auth("$classuri/del")}-->
<button data-update data-field='delete' data-action='{:url("$classuri/del")}'
        class='layui-btn layui-btn-sm layui-btn-primary'>批量删除
</button>
<!--{/if}-->

{/block}

{block name="content"}

<!-- 表单搜索 开始 -->
<form autocomplete="off" class="layui-form layui-form-pane form-search" action="{:request()->url()}"
      onsubmit="return false" method="get">

    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">订单id</label>
        <div class="layui-input-inline">
            <input name="task_id" value="{$Think.get.task_id}" placeholder="请输入订单id" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">发布时间</label>
        <div class="layui-input-inline">
            <input name="create_at" id="create_at" value="{$Think.get.create_at}" placeholder="请选择发布时间"
                   class="layui-input">
        </div>
    </div>

    <div class="layui-form-item layui-inline">
        <button class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> 搜 索</button>
    </div>

</form>
<!-- 表单搜索 结束 -->

<form onsubmit="return false;" data-auto="true" method="post">
    <!--{if empty($list)}-->
    <p class="help-block text-center well">没 有 记 录 哦！</p>
    <!--{else}-->
    <input type="hidden" value="resort" name="action">
    <table class="layui-table notevent" lay-skin="line">
        <thead>
        <tr>
            <th class='list-table-sort-td'>
                <button type="submit" class="layui-btn layui-btn-normal layui-btn-xs">排 序</button>
            </th>
            <th class="nowrap">订单编号</th>
            <th class="nowrap">申诉截图</th>
            <th class="nowrap">任务类型</th>
            <th class="nowrap">状态</th>
            <th class="nowrap">申诉</th>
            <th class="text-left">时间</th>
            <th class='text-center'></th>
        </tr>
        </thead>
        <tbody>
        {foreach $list as $key=>$vo}
        <tr>
            <td class='list-table-sort-td text-top'>
                {$vo.id}
            </td>
            <td class='list-table-sort-td text-top'>
                {$vo.task_id}
            </td>
            <td class='list-table-sort-td text-top'>
                <img src="{$vo.pic}" alt="" data-tips-image>
            </td>

            <td class="text-left nowrap text-top">
                {switch vo.ty}
                {case 1}任务问题{/case}
                {case 2}好评问题{/case}
                {case 3}淘宝客{/case}
                {case 4}价格错误{/case}
                {case 5}未下单/未付款/拍错店{/case}
                {/switch}
            </td>
            <td class='text-left nowrap text-top'>
                {switch vo.status}{case 1}未处理{/case}{case 2}已处理{/case}{/switch}
            </td>
            <td class='text-left nowrap text-top'>
                {switch vo.is_contact}{case 1}商户申诉{/case}{case 2}用户申诉{/case}{/switch}
            </td>
            <td class='text-left nowrap text-top'>
                {$vo.create_at|default="<span class='color-desc'>从未登录</span>"|raw}
            </td>
            <td class='text-center nowrap text-top'>

                <!--{if auth("$classuri/resume") and $vo['status'] eq 1}-->
                <span class="text-explode">|</span>
                <a data-update="{$vo.id}" data-field='status' data-value='2'
                   data-action='{:url("$classuri/resume")}'>处理</a>
                <!--{/if}-->
                <!--{if auth("$classuri/del")}-->
                <span class="text-explode">|</span>
                <a data-update="{$vo.id}" data-field='delete' data-action='{:url("$classuri/del")}'>删除</a>
                <!--{/if}-->

            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>
    {if isset($page)}<p>{$page|raw}</p>{/if}
    <!--{/if}-->
</form>
<script>
    (function () {
        window.form.render();
        window.laydate.render({range: true, elem: '#create_at'});
    })();
</script>
{/block}