{extend name='admin@public/content'}

{block name="content"}
<form action="{:request()->url()}" autocomplete="off" class='form-horizontal layui-form padding-top-20' data-auto="true"
      id="ProductForm" method="post" onsubmit="return false;">


    <div class="form-group">
        <label class="col-sm-2 control-label">级别</label>
        <div class='col-sm-8'>
            <input class="layui-input" name="bknm" required value="{$vo.bknm|default=''}">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">天数</label>
        <div class='col-sm-8'>
            <input class="layui-input" name="num" placeholder="请输入天数" required title="请输入天数"
                   value="{$vo.num|default=''}">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">价格</label>
        <div class='col-sm-8'>
            <input class="layui-input" name="price" placeholder="请输入价格" required title="请输入价格"
                   value="{$vo.price|default=''}">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">排序</label>
        <div class='col-sm-8'>
            <input class="layui-input" name="ksort" placeholder="请输入排序" required title="请输入排序"
                   value="{$vo.ksort|default=''}">
        </div>
    </div>

    <div class="hr-line-dashed"></div>

    <div class="col-sm-7 col-sm-offset-2">
        <div class="layui-form-item text-center">
            {if !empty($vo.id)}<input name="id" type="hidden" value="{$vo.id}">{/if}
            <button class="layui-btn" type="submit">保存配置</button>
            <button class="layui-btn layui-btn-danger" onclick="window.history.back()" type='button'>取消编辑</button>
        </div>
    </div>

</form>


{/block}

{block name="style"}
<style>

    .background-item {
        padding: 15px;
        background: #efefef;
    }

    .background-item thead tr {
        background: #e0e0e0
    }

    .price-input-td {
        padding: 0 !important;
    }

    .price-input-td:before {
        margin: 4px;
        width: 35px;
        height: 22px;
        content: "金额";
        line-height: 20px;
        text-align: center;
        position: absolute;
        background: #e2e2e2;
    }

    .price-input-td input {
        height: 30px;
        padding-left: 50px;
        border: none !important;
    }
</style>
{/block}