<form action="{:request()->url()}" autocomplete="off" class="layui-form layui-box modal-form-box" data-auto="true"
      method="post">
    <div class="layui-form-item">
        <label class="layui-form-label">审核</label>
        <div class='layui-input-block'>
            <select class="layui-select full-width" name="examine" required>
                {foreach [1=>"未处理",2=>"审核通过",3=>"审核不通过"] as $k=>$v}
                <!--{if $vo.id eq $k}-->
                <option selected value="{$k}">{$v}</option>
                <!--{else}-->
                <option value="{$k}">{$v}</option>
                <!--{/if}-->
                {/foreach}
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">回执信息</label>
        <div class="layui-input-block">
            <textarea class="layui-textarea" name="desc" placeholder="请输回执信息" title="请输回执信息"></textarea>
        </div>
    </div>

    <div class="hr-line-dashed"></div>

    <div class="layui-form-item text-center">
        {if isset($vo['id'])}<input name='id' type='hidden' value='{$vo.id}'/>{/if}
        <button class="layui-btn" type='submit'>保存数据</button>
        <button class="layui-btn layui-btn-danger" data-close data-confirm="确定要取消编辑吗？" type='button'>取消编辑</button>
    </div>

    <script>window.form.render();</script>
</form>
