{extend name='admin@public/content'}

{block name="content"}
<form action="{:request()->url()}" autocomplete="off" class='form-horizontal layui-form padding-top-20' data-auto="true"
      id="ProductForm"
      method="post" onsubmit="return false;">

    <div class="form-group">
        <label class="col-sm-2 control-label">赛事</label>
        <div class='col-sm-8'>
            <input class="layui-input" name="g_name" placeholder="请输入赛事" required title="请输入赛事"
                   value="{$vo.g_name|default=''}">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label label-required">单场</label>

        <div class='col-sm-8'>
            <label class="think-radio">
                {switch vo.is_red}
                {case 1}
                <input checked lay-ignore name="is_red" title="非单场" type="radio" value="1">非单场
                <input lay-ignore name="is_red" title="普通单场" type="radio" value="2">普通单场
                <input lay-ignore name="is_red" title="让球单场" type="radio" value="3">让球单场
                {/case}
                {case 2}
                <input lay-ignore name="is_red" title="非单场" type="radio" value="1">非单场
                <input checked lay-ignore name="is_red" title="普通单场" type="radio" value="2">普通单场
                <input lay-ignore name="is_red" title="让球单场" type="radio" value="3">让球单场
                {/case}
                {case 3}
                <input lay-ignore name="is_red" title="非单场" type="radio" value="1">非单场
                <input lay-ignore name="is_red" title="普通单场" type="radio" value="2">普通单场
                <input checked lay-ignore name="is_red" title="让球单场" type="radio" value="3">让球单场
                {/case}
                {default /}
                {/switch}
            </label>

        </div>
    </div>
    {if empty($vo.id)}
    <div class="form-group">
        <label class="col-sm-2 control-label">排序</label>
        <div class='col-sm-8'>
            <input class="layui-input" name="sort" placeholder="请输入排序" required title="请输入排序"
                   value="{$vo.sort|default=''}">
        </div>
    </div>
    {/if}
    <div class="hr-line-dashed"></div>

    <div class="col-sm-7 col-sm-offset-2">
        <div class="layui-form-item text-center">
            {if !empty($vo.id)}<input name="id" type="hidden" value="{$vo.id}">{/if}
            <button class="layui-btn" type="submit">保存配置</button>
            <button class="layui-btn layui-btn-danger" onclick="window.history.back()" type='button'>取消编辑</button>
        </div>
    </div>

</form>

<script>
    require(['jquery', 'ckeditor', 'angular'], function () {
        window.form.render();
        var app = angular.module("ProductForm", []).run(callback);
        angular.bootstrap(document.getElementById(app.name), [app.name]);

        function callback($rootScope) {
            // 绑定规格列表
            $rootScope.specs = [];
            // 规格默认数据
            var specdata = JSON.parse('{$vo.list|default=[]|json_encode=###,256|raw}');
            // 单图片上传处理
            $('#ProductForm [name="ex_logo"]').uploadOneImage();
            // 多图片上传处理

        }
    });
</script>
{/block}

{block name="style"}
<style>

    .background-item {
        padding: 15px;
        background: #efefef;
    }

    .background-item thead tr {
        background: #e0e0e0
    }

    .price-input-td {
        padding: 0 !important;
    }

    .price-input-td:before {
        margin: 4px;
        width: 35px;
        height: 22px;
        content: "金额";
        line-height: 20px;
        text-align: center;
        position: absolute;
        background: #e2e2e2;
    }

    .price-input-td input {
        height: 30px;
        padding-left: 50px;
        border: none !important;
    }
</style>
{/block}